.cell{
    width:  50px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    background-color: #B59D48;

    &.highlight{
        background-color: #502C73;
    }
}