<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Sudoku Solver</h1>
    <div id="root"></div>
  </body>
</html>